{% extends 'core/base.html' %}
{% block title %}Login {% endblock title %}
{% block body %}
<div class="container-fluid my-2">
{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}
        role="alert">
        <strong>{{ message }}</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="container card p-5 my-2">
<h1>Login</h1>
<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  {% for fm in form %}
   {{fm.label_tag}}  {{fm}} {{fm.error|striptags}} <br>
  {% endfor %} 
  {% comment %} {{form.as_p}} {% endcomment %}
  <button class="btn btn-primary" type="submit" id="submit">Login</button>
  <a class="btn btn-info" href="{% url 'register' %}">Signup</a>
</form>
</div>
{% endblock body %}