{% extends 'core/base.html' %}
{% block title %}SignUp {% endblock title %}
{% block body %}
<div class="container-fluid my-2">
{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}
        role="alert">
        <strong>{{ message }}</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="container card p-5">
<h1>SignUp</h1>

<form action="{% url 'register' %}" method="post">
  {% csrf_token %}
  {% for fm  in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br>
  {% endfor %}
  <button class="btn btn-success" type="submit" id="submit">SignUp</button>
  <a class="btn btn-info" href="{% url 'login' %}">Login</a>
</form>
</div>
{% endblock body %}