{% extends 'core/base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container-fluid my-2">
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}
        role="alert">
        <strong>{{ message }}</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="container-fluid p-0">
    <div class="jumbotron">
        <h1 class="display-4">Shortify!!</h1>
        <p class="lead">A URL shortener is a service that is used to create short links from very long URLs. Usually,
            short links have the size of one third or even one-fourth of the original URL, which makes them easier to
            type, present, or tweet. Clicking on a short link user will be automatically redirected to the original URL.
        </p>
        <hr class="my-4">
        <p>Create URL's that you'll remember...</p>
        <a class="btn btn-warning btn-lg" href="{% url 'shorturl' %}" role="button">Short URL</a>
    </div>
</div>

{% endblock body %}