<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Shortify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'shorturl' %}">Short URL</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <span class="badge badge-light p-2 mx-3">{{request.user}}</span>
    <a class="btn btn-danger" href="{% url 'logout' %}" role="button">Logout</a>
    {% else %}
    <a class="btn btn-success mx-3" href="{% url 'login' %}" role="button">Login</a>
    <a class="btn btn-info" href="{% url 'register' %}" role="button">SignUp</a>
    {% endif %}
  </div>
</nav>